* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* RED */
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  /* GREEN */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  /* GRAY */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}
.buttons-container button {
  background-color: red;
  padding: 2rem;
  border-radius: 0.5rem;
  height: 5rem;
  border: solid 1px var(--gray-300);
  background-color: var(--gray-100);
  cursor: pointer;
  position: relative;
}
.buttons-container button:hover {
  background-color: var(--gray-200);
  transition: color 3ms;
}
.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  align-items: center;
  gap: 0.5rem;
}
h2 {
  padding: 0.5rem;
  margin: 2rem;
  border: 1px solid var(--gray-300);
  border-radius: 0.5rem;
}
.red {
  color: var(--red-500);
}
.green {
  color: var(--green-400);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-200);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.103);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.window {
  width: 10rem;
  padding: 3rem;
  background-color: var(--gray-100);
  border-radius: 0.5rem;
}

.reset {
  background-color: #6366f1;
  border: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;

  color: var(--gray-100);
  font-weight: bold;
  transition: all 0.3s;
}
.reset:hover {
  background-color: #6365f1c6;
}

/* .line {
  position: absolute;
  background-color: #6366f1;
  width: 1rem;
  height: 5rem;
  top: -10%;
  transform: rotate(30deg);
  z-index: 100;
} */
/* button::content {
  z-index: 300;
} */
